@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto AutoSender</h1>
    <p class="lead">Sistema de Automação de Envios WhatsApp</p>
    
    <div class="mt-4">
        <a href="/Contatos" class="btn btn-primary btn-lg">Gerenciar Contatos</a>
        <a href="/Contatos/Automacao" class="btn btn-success btn-lg">Automação</a>
    </div>
</div>
