#Visual Studio
.vs/
*.user
bin/
obj/

#Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
# Logs
*.log

.env
.env.local

#Chrome
chrome_user_data/
*.crx
*.pak
*.dat
WhatsAppService/chrome_user_data/
AutoSender/chrome_user_data/
/whatsapp_session